
html {

	background-color: #ff6600;
}
#body {
	color: #fff;
	background-color: #111;
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: sans-serif;
}
#order {
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	width: 100%;
}
















